body {
  background-color: #222222;
}
  
#title{
  display: "inline-block";
  position: static;
  width: 100%;
  text-align: center;
}
#descriptionBox{
  margin: auto;
  margin-bottom: 2vh;
  display: "inline-block";
  background-color: black;
  border: 2.5vh solid black;
  width: 60%;
  border-radius: 2.5vh;
  text-align: center;
}

.descriptionBoxText{
  display: "inline-block";
  margin: auto;
  color: white;
  font-family: 'oswald';
  font-size: 2vw;
}
.descriptionBoxTextDetail{
  display: "inline-block";
  margin: auto;
  color: white;
  font-family: 'oswald';
  font-size: 2vh;
}

#optionsCointainer{
  display: flex;
  margin: auto;
  background-color: gray;
  border: 2.5vh solid gray;
  border-radius: 2.5vh;
  justify-content: center;
}

#categoryCointainer{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: gray;
  border: 2.5vh solid gray;
  border-radius: 2.5vh;
  justify-content: center;
  text-align: left;
}
#category{
  margin-left: 2.5vw;
  margin-top: 2.5vh;
  background-color: black;
  border: 2.5vh solid black;
  border-radius: 2.5vh;
  width: 70%;
}
#searchBox{
  margin-left: 2.5vw;
  margin-top: 2.5vh;
  background-color: white;
  border: 2.5vh solid white;
  border-radius: 2.5vh;
  width: 85%;
  resize: none;
  font-family: 'oswald';
  font-size: 2vh;
}
#option{
  margin-left: 2.5vw;
  background-color: black;
  border: 2.5vh solid black;
  border-radius: 2.5vh;
  width: 20%;
  height: 20vh;
}