extends layout

block content
  #title
    a(href = "/")
      img(src='/../images/askStentorLogo.svg' width='50%')
  #descriptionBox
    p.descriptionBoxText about
    #categoryCointainer
      #category
        h1.descriptionBoxText what is askstentor?
        p.descriptionBoxText
          | askstentor is an original dictionary application providing words and terms commonly used within the plural community.
        hr
        h1.descriptionBoxText history
        p.descriptionBoxText
          | askstentor began as a small plural term discord bot, which quickly grew in size thanks to a demand for such an application.
        p.descriptionBoxText
          | since then the original bot has expanded onto the web and is now both a website and a discord application
        hr
        h1.descriptionBoxText rules regarding collection of terms
        p.descriptionBoxText
          | only staff of askStentor is allowed to directly add or remove terms within the bot. users of the application may request the addition of individual terms, provided they provide the name of the term,
          | the deffiniton for said term, a short description of that term within a sentance, the category for said term, and have proof of either being the coiner or have concent from the coiner to add into the bot.
          | staff may not add terms without explicit consent from the coiners.individual coiners may request the removal of the term from the application, provided they provide proof of coining said term.
          | failure of staff removing a term which has valid evidence of the requester being the coiner will result in said staff member being removed from the project.
        hr
        h1.descriptionBoxText licence
        p.descriptionBoxText
          | the codebase for askstentor is protected under the 
          a(href='https://www.gnu.org/licenses/gpl-3.0.en.html') GNU General Public License v3.0
          | .
          |                         the terms within askstentor are protected under the 
          a(href='https://creativecommons.org/licenses/by-sa/3.0/') Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) licence
          | . meaning that one can use the terms within askStentor within their own project,
          |                         provided that they provide a direct link to the term within the bot alongside distributing such contrbutions with the original licence.

