extends layout

block content
    #title
      a(href = "/")
        img(src='/../images/askStentorLogo.svg' width='50%')
    #descriptionBox
      p.descriptionBoxText add a catagory
      #categoryCointainer
        #category
          form(action='create' method='post')
            p.descriptionBoxTextDetail    catagory name
            textarea#loginBox(type='text' name='name' value='' required='')
            input#submitButton(type='submit' value='Submit')