extends layout

block content
  #title
    a(href = "/")
      img(src='/../images/askStentorLogo.svg' width='50%')
  #descriptionBox
    p.descriptionBoxText here are all the categories
    #categoryCointainer
      each cat, index in catArray
       #category
        a(href = '/ask/catagory/:' +urlArr[index]).descriptionBoxText #{cat.name}
        p.descriptionBoxText term count: #{termCountArray[index]}
