extends layout

block content
  #title
    a(href = "/")
      img(src='/../images/askStentorLogo.svg' width='50%')
  #descriptionBox
    p.descriptionBoxText welcome to askStentor, a plural dictionary service for the web and discord
    #optionsCointainer
      #option
        a.descriptionBoxText(href='https://top.gg/bot/794926252594823169') invite to your discord server
      #option
        a.descriptionBoxText about askStentor
      #option
        a.descriptionBoxText(href='/ask/catagories') browse categories
      #option
        a.descriptionBoxText(href='/ask') term search
