extends layout

block content
  #title
    a(href = "/")
      img(src='/../images/askStentorLogo.svg' width='50%')
  #descriptionBox
    p.descriptionBoxText welcome to askStentor, a plural dictionary service for the web and discord
    #optionsCointainer
      #option
        a.descriptionBoxText(href='https://top.gg/bot/794926252594823169') invite to your discord server
      #option
        a.descriptionBoxText(href='/about') about askStentor
      #option
        a.descriptionBoxText(href='/ask/catagories') browse categories
      #option
        a.descriptionBoxText(href='/ask') term search
  #descriptionBox
    p.descriptionBoxText other options 
    #optionsCointainer
      #option
        a.descriptionBoxText(href='https://forms.gle/KLjcvmz5h1FWnZVG9') request term removal
      #option
        a.descriptionBoxText(href='https://forms.gle/YSdABsQxQhSfVFhP9') request addition of a term
      #option
        a.descriptionBoxText staff login
      #option
        a.descriptionBoxText other resources
