extends layout

block content
  #title
    a(href = "/")
      img(src='/../images/askStentorLogo.svg' width='50%')
  #descriptionBox
    p.descriptionBoxText add a new term
    #categoryCointainer
      #category
        form(action='create' method='post')
          p.descriptionBoxTextDetail    term name
          textarea#loginBox(type='text' name='name' value='' required='')
          br
          br
          p.descriptionBoxTextDetail    shortdef
          textarea#loginBox(type='text' name='shortdef' value='' required='')
          br
          br
          p.descriptionBoxTextDetail    longdef
          textarea#termBoxlongDef(name='longdef' cols='30' rows='10' required='')
          br
          br
          p.descriptionBoxTextDetail    coiner
          textarea#loginBox(type='text' name='coiner' value='' required='')
          br
          br
          p.descriptionBoxTextDetail    category
          select#loginBox(name='category' size='5')
            each catagory,index in catagoryArray
              option(value = catagory.name) #{catagory.name}

          input#submitButton(type='submit' value='Submit')
