extends layout

block content
  #title
    a(href = "/")
      img(src='/../images/askStentorLogo.svg' width='50%')
  #descriptionBox
    p.descriptionBoxText welcome #{user}
    #optionsCointainer
      if (addTerms)
        #option
          a.descriptionBoxText(href ="/ask/create") add term
        #option
          a.descriptionBoxText(href ="/ask/delete") remove term
      if (addCatagories)
        #option
          a.descriptionBoxText(href ="/ask/catagoryManager/create") add catagory
        #option
          a.descriptionBoxText(href ="/ask/catagoryManager/delete") delete catagory
      if (addStaff)
        #option
          a.descriptionBoxText(href ="/login/create") add new staff member

